@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat','sans-serif';
   
}
#wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    background: #fff;
    background-image: url(932271.jpg);
    background-size: cover;

}   

form{
    border: 1px solid #dadce0;
    border-radius: 5px;
    padding: 30px;
}
h3{
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
    
}
.form-group{
    margin-bottom: 15px;
    position: relative;
    color: black;
}
input{
    height: 50px;
    width: 300px;
    outline: none;
    border: 1px solid #dadce0;
    padding: 10px ;
    border-radius: 5px;
    font-size: inherit;
    color: black;
    transition: all 0.2s ease-in-out;
    
}
label{
    position: absolute;
    padding: 0px 5px;
    left: 5px;
    top: 50%;
    pointer-events: none;
    transform: translateY(-50%);
    background: #fff;
    transition: all 0.2s ease-in-out;
}
.form-group input:focus {
    border: 2px solid #1a73e8;
}
.form-group input:focus + label,.form-group input:valid + label{
    top: 0px;
    font-size: 13px;
    font-weight: 500;
    color: #1a73e8;  
}

input#btn-login{
    background: black;
    color: #fff;
    cursor: pointer;
}
input#btn-login:hover{
    opacity: 0.5;
}
